<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Jackpot</title>
  <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
  <button class="voltar" onclick="voltarHome()">⬅ Voltar</button>

<h1>🎰 Jackpot</h1>

<div class="slot">
  <div class="rolo" id="rolo1">0</div>
  <div class="rolo" id="rolo2">0</div>
  <div class="rolo" id="rolo3">0</div>
</div>

<button onclick="girar()">GIRAR</button>

<p id="resultado"></p>

<script src="../assets/script.js"></script>
</body>
</html>